<h1> Countries of the world </h1>

<%= form_tag countries_path do %>
  <%= text_field_tag(:country, params[:country], placeholder: 'Country name', class: 'form-inline md-form form-sm mt-0') %>
  <%= submit_tag("Search", class: 'btn btn-primary') %>
<% end %>

<p>

<ul class="list-group">
    <% @countries.each do |country| %>
        <li class="list-group-item">
            <%= link_to "#{country.name}", country_path(country.code) %>
        </li>
    <% end %>
</ul>